body { margin: 0; overflow: hidden; font-family: 'Segoe UI', sans-serif; }

#controls-ui {
    position: absolute; top: 20px; left: 20px;
    display: flex; gap: 10px; flex-direction: column;
    z-index: 10;
}

.rpg-btn {
    background: rgba(0, 0, 0, 0.8);
    color: #d4af37;
    border: 2px solid #d4af37;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
    border-radius: 5px;
}
.rpg-btn:hover { background: #d4af37; color: #000; box-shadow: 0 0 15px #d4af37; }

#info {
    position: absolute; bottom: 80px; left: 20px;
    color: white; background: rgba(0, 0, 0, 0.8);
    padding: 20px; border-radius: 12px;
    pointer-events: none; display: none;
    border-left: 4px solid #d4af37;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    min-width: 200px; backdrop-filter: blur(4px);
}

#cityName { margin: 0 0 10px 0; color: #d4af37; font-size: 1.5em; }
#cityPop { font-weight: bold; }

#time-display {
    position: absolute; top: 20px; right: 20px;
    color: #fff; font-weight: bold; background: rgba(0,0,0,0.5);
    padding: 10px; border-radius: 8px; font-family: monospace;
    border: 1px solid rgba(255,255,255,0.3);
    text-shadow: 0 0 5px black;
}

.label {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 12px;
    pointer-events: none; /* Deixa o clique passar para o 3D */
    text-shadow: 0 1px 2px black;
    white-space: nowrap;
    transition: 0.3s opacity;
}

.label-castle {
    border: 2px solid #ffd700; /* Dourado para Reis */
    background: rgba(50, 0, 0, 0.8);
    font-size: 14px;
    transform: translateY(-20px); /* Fica um pouco mais alto */
}

.label-village {
    border: 1px solid #d4af37;
    background: rgba(0, 50, 0, 0.6);
}